@media(max-width:998px){
    html{
        font-size: 55%;
    }
}
@media(max-width:768px){
    html{
        font-size: 45%;
    }
}



.imgbox1{
    float: left;
    width: 33.999rem;
    height: 17rem;
    background-image: url(./image/showcase-photo3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.txtbox1{
    float: right;
    height: 17rem;
    
}
p{
    font-size: 1vw;
}
