@media(max-width:998px){
    html{
        font-size: 55%;
    }
}
@media(max-width:768px){
    html{
        font-size: 45%;
    }
}

.row{
    border: black solid 2px;
    width: 79rem;
}
.row::after{
   
}
.imgbox1{
    border: red solid 2px;
    float: left;
    width: 39.5rem;
    height: 10rem;
    background-image: url(./image/showcase-photo3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.txtbox1{
    border: green solid 2px;
    float: right;
    height: 10rem;
    width: 39rem;
}
